<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Base template {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="pt-5">
        <h1 class="display-4 fw-bold text-white">
          {% block header %}
          Random horror movie!
          {% endblock %}
        </h1>
      </header>
      <div class="bg-dark text-secondary px-4 py-5 text-center">
      {% block content %}
      <main class="pt-5">
        <h1 class="display-6 fw-bold text-white">{% block movie_title %} Movie title {% endblock %} </h1>
        <div class="col-lg-6 mx-auto">
          {% block movie_info %}
          <p class="fs-5 mb-4"> There will be some info about a movie </p>
          {% endblock %}
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            {% block movie_button %}
            <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Get random horror!</button>
            {% endblock %}
          </div>
        </div>
      </main>
      {% endblock %}
      </div>
      <footer class="mt-auto text-white-50">
        {% block footer %}
        <p>Pet project <a href="https://github.com/dvalchibaev/imdb-random-movie" class="text-white">imdb-random-movie</a> by Daniil Alchibaev</p>
        {% endblock %}
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>